@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Righteous, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Styling heading and logo */

h1, h2 {
    font-family: Righteous, sans-serif;
    color: rgb(18, 153, 171);
}

#logo {
    float: left;
    font-size: 200%;
}

/* Styling Links */

#menu {
    font-size: 110%;
    color: rgb(18, 153, 171)

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
    margin-left: 30px;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
} 

/* styling Hero-image */

#hero-overflow {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image1.jpg") no-repeat center center;

    /* animation on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

/* create animations for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    width: 270px;
    height: 170px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgb(94, 190, 232, .7);
    bottom: 30px;
    right: 150px;
    position: absolute;
   
}

/* Styling about */

#about {
    text-align: center;
    font-size: large;
    margin-top: 20px;  
}

#about h1::after {
    content: '';
    display: block;
    width: 5.6rem;
    height: 0.3rem;
    background-color: rgb(94, 190, 232, .7);
    position: absolute;
    border-radius: 10px;
    margin-left: 44.5%;
}

#about > p {
    font-family: Quicksand, sans-serif;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    line-height: 30px;
    margin-right: 200px;
    margin-left: 200px;
    

}

/* styling times section */

#times {
    text-align: left;
    margin-top: 100px;
    font-size: 1.5em;
    margin-left: 300px;
}

#content-times {
    font-family: Quicksand, sans-serif;
    margin-top: 10px;
    line-height: 30px;
    margin-left: 300px;
}

#times h1::after {
    content: '';
    display: block;
    width: 7rem;
    height: 0.3rem;
    background-color: rgb(94, 190, 232, .7);
    position: absolute;
    border-radius: 10px;
    margin-left: 4%;
}

#maps {
    position: absolute;
    height: 20rem;
    width: 40%;
    top: 59rem; 
    right: 15%;
}

/* styling sign-up and forms */

#sign-up > h1 {
    text-align: center;
    font-size: 28px;
    margin-top: 8%;
    color: #fff;
    padding-top: 2%;
    
}

.container {
    width: 35%;
    height: 50vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    margin-left: 32%;
    background-color: rgb(94, 190, 232, .7);
    align-items: center;
    border-radius: 2%;
    margin-top: 3%;
 
}

.form {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem; 
    margin-top: 3%;
}

#sign-up h1::after {
    content: '';
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    margin-left: 43%;
}

.input-group {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.join-button {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    margin-left: 16%;
}

.join-button:hover {
    background-color: #eeeeee75;
}

.join-button:focus-visible {
    outline: 1px solid rgb(94, 190, 232, .7);
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid rgb(94, 190, 232, .7);
}

body #sign-up {
    background-color: rgb(94, 190, 232, .7);
    width: 100%;
    height: 70vh;
    margin-top: 1.5%;
}

/* styling footer */

#contact h2 {
    text-align: center;
    margin-top: 2%;
    font-size: 28px;
}

#contact h2::after {
    content: '';
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: rgb(94, 190, 232, .7);
    position: absolute;
    border-radius: 10px;
    margin-left: 43%;
}

footer {
    height: 150px;
}

.social-medias {
    text-align: center;
}

.social-medias > li {
    display: inline;
}

.social-medias i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: rgba(4, 72, 101, 0.7);
}